<div class="col-md-4 col-sm-12 center col-md-offset-4" style="margin-top: 250px">
    <div class="content-box">
        <div class="content">
            <div class="text-center">
                <img class="logo-login" src="../../assets/img/logo.png">
            </div>
            <form class="form-login" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="login">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="password">
                </div>
                <div class="form-group">
                    <input type="submit" class="submit-login" name="login-submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>